*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.container{
        text-align: center;
    justify-self: center;
    margin-top: 10%;
    color: white;
}
input{
           width: 40vw;
   
    border: none;
    background-color: white;
    color: black;
   padding: 11px;
    font-size: 1em;
        margin-top: 28px;
}
button{
        width: 8vw;
    background-color: white;
    font-size: 1em;
    border: none;
    height: 39px;
}
.todos{
    margin-top: 16px;
        display: flex;
    flex-direction: column;
    gap: 15px;

}
.todo{
      display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #127a7e;
      border-radius: 10px;
}
.task{
    background-color: #18797c;
    font-size: 1.5em;
}
.btns{
display: flex;
gap: 5px;
 background-color: #18797c;
}
.todo button{
    width: 5vw;
    border-radius: 10px;
}
.save-btn{
    display: none;
}
.edit-input{
      width: 20vw;
      display: none;
}